<footer>
  <p class="about-foot meta">
    Jessica Lord is an open web developer, designer and urbanist in Portland.
  </p>
  <ul class="socials">
    <li><a href="http://www.twitter.com/jllord" target="_blank">@jllord</a></li>
    <li><a href="http://www.github.com/jlord" target="_blank">gh/jlord</a></li>
  </ul>
  <ul>
    <li><a href="/rss.xml">RSS</a></li>
    <li><a href="/blog">Posts</a></li>
  </ul>
  <ul>
    <li><a href="/work.html">Work</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
  <ul>
    <li><a href="/blog/archive.html">Archive</a></li>
    <li><a href="/" class="green"><strong>Home</strong></a></li>
  </ul>
</footer>
