/* GENERAL */
/* ------------------------------------------------------------ */
body {font-family: 'IM Fell French Canon', serif; margin: 0 auto; color: #444;}
a { color: #666; text-decoration: none; transition: color 0.2s ease; border-bottom: 1px solid #dadada;}
/* #0091FF orange #FF5200 #FF6103 #FF4040 #FF3333 #FF585E #FF7216 #FF5333 red #FF3333 */
/* blue #007aff */
a:hover {color: #007aff; border-color: #007aff;}
img {width: 100%;}
pre {padding: 20px; background: #fafafa; -webkit-border-radius: 2px; line-height: 18px; word-wrap: break-word; font-family: Courier New; font-size: 12px; }
code {font-family: Courier New; font-size: 12px;}
/*p {font-family: Vollkorn;}*/
p {line-height: 1.4em;}
h2, h3, h4, h5, h6 {font-weight: 5 00; font-family: "Helvetica Neue", Arial, Open Sans; padding-top: 1.2em;}
h1 {font-style: italic; font-weight: normal; font-size: 260%;}
blockquote {font-style: italic; margin: 20px; border-left: 1px solid #dadada; padding-left: 10px;}
/* PAGE */
/* ------------------------------------------------------------ */
.main-container {max-width: 700px; margin: 0 auto; padding: 60px 90px; background: #f9f9f9; /*border: 1px solid #eee;*/}


/* HEADER */
/* ------------------------------------------------------------ */

.name {padding-left: 10px; left: -10px; position: relative;}
header {font-size: 32px; color: #007aff; font-style: italic; position: fixed; margin: 0 auto;}
.top-nav li {display: inline;}
ul.top-nav {list-style: none; margin: 0 auto; padding: 0 0 4px 0;  /*border-bottom: 2px solid #0091FF;*/}
.allthe {font-size: 12px; line-height: 16px; display: inline-block; padding-left: 6px; text-transform: uppercase;}

/* BODY */
/* ------------------------------------------------------------ */



#content {padding-top: 60px;}
