/* GENERAL */
/* ------------------------------------------------------------ */
body {font-family: 'Courier New'; font-size: 13px; margin: 0 auto; color: #444; background: #fafafa;}
a {color: #333; text-decoration: none; transition: color 0.2s ease; border-bottom: 1px solid #dadada;}
/* #0091FF orange #FF5200 #FF6103 #FF4040 #FF3333 #FF585E #FF7216 #FF5333 red #FF3333 */
/* blue #007aff */
/* bright seafoam #44FFB4 */
/* dusty navy #1075A5 307AFD */
a:hover {color: #307AFD; border-color: #307AFD;}
img {width: 100%;}
pre { font-family: 'Andale Mono', Liberation Mono, monospace; white-space: pre-wrap; word-break: break-all; word-wrap: break-word; padding: 20px; background: #fafafa; -webkit-border-radius: 2px; line-height: 1.6em;}
pre code {padding: 0; color: inherit; background-color: transparent; border: 0;}
code {padding: 2px 4px; border: 1px solid #dadada; border-radius: 2px; font-family: 'Andale Mono', Liberation Mono, monospace; font-weight: 900; font-size: 12px;}
p { font-size: 15px; line-height: 1.6em; text-align: left; word-break: break-word;}
h2, h3, h4, h5, h6 {font-weight: 700; font-family: 'Playfair Display'; padding-top: 1.2em;}
h1, h2, h3,h4,h5,h6 { font-family: 'Courier New', Helvetica, Arial, sans-serif; font-weight: 600; text-align: left;}
h1 {font-family: 'Playfair Display'; letter-spacing: .01em; text-align: center; font-weight: 900; color: #333; font-size: 340%; margin: 12px 0;}
blockquote {font-style: italic; font-family: 'Playfair Display'; margin: 30px 20px;}
blockquote::before {content: "ãƒ»"; color: #307AFD; float: left; padding-right: 10px; top: 4px; position: relative;}
blockquote p {padding-left: 21px;}
blockquote p em {font-family: 'Open Sans'; font-size: 10px; color: #777; letter-spacing: .1em; font-weight: 300; text-transform: uppercase; font-style: normal;}
blockquote p em:before {content: "\2014  "; display: inline;}

/*hr {border: 0; border-bottom: 2px solid #CCC8C8; padding-top: 20px;}
*/hr {border: 0; border-bottom: 1px dashed #CCC8C8; padding-top: 20px;}


.half blockquote p {padding-left: 0px;}
.half blockquote {margin: 0 20px 0 0;}
.half blockquote::before {content: none;}
.r.half {float: right;}

li {line-height: 1.6em;}
ul {list-style: circle; padding-left: 18px;}

a.green {color: #307AFD;}
a.green:hover {color: #444;}


.load.flash.animated {font-family: Courier New; font-size: 16px; font-weight: normal;}

/* PAGINATION */
/* ------------------------------------------------------------ */
.turn-page {margin: 30px auto; text-align: center; padding-top: 30px; max-width: 314px; border-top: 4px solid #CCC8C8;}
a.button {border: none; color: #fff;}
a.button:hover {color: #333; color: #fff;}
.button {padding: 2px 6px; background-color: #333; border-radius: 2px; border: none; transition: background-color 0.2s ease;}
.button:hover {background-color: #333;}

/* PAGE */
/* ------------------------------------------------------------ */
.main-container {max-width: 620px; margin: 0 auto; padding: 20px; overflow: auto;}
.half {width: 47%; display: inline-block; vertical-align: top;}
.whole {border-top: 2px solid #CCC8C8; padding-bottom: 30px;}
.whole {border-top: 1px dotted #CCC8C8; padding-bottom: 30px;}

#tweet p {font-family: 'Playfair Display'; text-align: center; font-weight: 500; font-size: 20px;}

/* HEADER */
/* ------------------------------------------------------------ */

header {font-family: 'Playfair Display'; margin: 0 auto; text-align: center; font-size: 130%; padding-top: 40px;}
.float-box {display: inline;}
.lower-italic {font-style: italic; position: relative; top: -3px;}
.upper-bold-italic {font-weight: bold; font-style: italic; font-size: 150%;}
.row {margin: -8px 0; padding: 0px;}
header .row:nth-child(even) {padding-left: 28px;}
header a {color: #307AFD; border: none;}
header a:hover {color: #B0CCFF;}


/* BODY */
/* ------------------------------------------------------------ */

.meta { margin: 0 auto; font-family: Open Sans; font-size: 10px; color: #777; letter-spacing: .1em; font-weight: 300; text-transform: uppercase;}
ul.meta {list-style: none; display: inline-block; text-align: center; margin: 0 auto; padding: 0 0 10px 0; }
.meta li {float: left; padding-right: 10px;}
#content {padding-top: 0px;}


/* POST */
/* ------------------------------------------------------------ */

/*h2:nth-of-type(1), h2:nth-of-type(2), h2:nth-of-type(3) {
  color: red; display: inline-block; margin: 0 auto; font-family: Open Sans; font-size: 10px; color: #c6c6c6; letter-spacing: .1em; font-weight: 300; text-transform: uppercase;}*/
/* this is not a good idea */
.post-header ul {
    list-style: none; text-align: center; color: red; margin: 0 auto; padding: 0px; font-family: Open Sans; font-size: 10px; color: #c6c6c6; letter-spacing: .1em; font-weight: 300; text-transform: uppercase;}
.post-header li {display: inline-block;  margin: 0; color: #333;}
.post-header li+li {padding-right: 6px;}
/*.content ul {text-align: left;}*/
.post-header {border-top: 3px solid #CCC8C8; display: table; margin: 60px auto; min-width: 314px; text-align: center;}
.post-header {border-top: 1px dotted #CCC8C8; display: table; margin: 60px auto; min-width: 314px; text-align: center;}


/*#32ff00*/

/* PAGE */
/* ------------------------------------------------------------ */

/*.post-header .page {border-top: 4px solid #333; display: table; margin: 60px auto; min-width: 314px; text-align: center;}*/

/* FOOTER */
/* ------------------------------------------------------------ */
footer {text-align: center; margin: 30px auto; width: 314px; /*display: table;*/ padding-top: 20px; auto; font-family: Open Sans; font-size: 10px; color: #777; letter-spacing: .1em; font-weight: 300; text-transform: uppercase; border-top: 1px dotted #CCC8C8;}
footer ul {list-style: none; padding: 0 15px; display: inline-block;
vertical-align: top;}
footer li {text-align: left;}
footer a {border: none;}

/* INSTAGRAM */
/* ------------------------------------------------------------ */
#instagram {margin: 0 auto; text-align: center; overflow: auto; padding-bottom: 20px;}
.instaImgCirc {float: left;}
.instaImgCirc img {border-radius: 1000px; margin: 10px; width: 186px; }
.instaImgCirc a {border: none;}

/* HOME PAGE */
/* ------------------------------------------------------------ */

.home-header ul {
    list-style: none; text-align: center; color: red; margin: 0 auto; padding: 0px; font-family: Open Sans; font-size: 10px; color: #c6c6c6; letter-spacing: .1em; font-weight: 300; text-transform: uppercase;}
.home-header li {display: inline-block; padding-right: 6px; margin: 0 auto; color: #333;}
/*.content ul {text-align: left;}*/
/*.home-header {border-top: 3px solid #CCC8C8; display: table; margin: 60px auto 0px; min-width: 314px; text-align: center;}*/
.home-header {border-top: 1px dotted #CCC8C8; display: table; margin: 60px auto 0px; min-width: 314px; text-align: center;}

.home-header .meta {color: #333;}


/* WORK PAGE */
/* ------------------------------------------------------------ */

/*#work-photos img {
  max-width: 250px;
  float: left;
}*/


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license
*/

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@media (max-width: 550px) {
  .half {width: 100%}
  #work-photos {display: none;}
  .socials {display: none;}
  footer, .home-header, .post-header {width: 280px;}
}
