/* GENERAL */
/* ------------------------------------------------------------ */
body {font-family: CentSchbook Mono BT; margin: 0 auto; color: #333;}
a {color: #FF585E; text-decoration: none; transition: color 0.2s ease;}
/* #0091FF orange #FF5200 #FF6103 #FF4040 #FF3333 #FF585E #FF7216 #FF5333 red #FF3333 */
a:hover {color: #e4e4e4;}
img {width: 100%;}
pre {padding: 20px; background: #fafafa; -webkit-border-radius: 2px; line-height: 18px;}
code {font-family: Andale Mono; font-size: 12px;}
/* PAGE */
/* ------------------------------------------------------------ */
.main-container {max-width: 900px; margin: 0 auto; padding: 20px 0px; /*border: 1px solid #eee;*/}


/* HEADER */
/* ------------------------------------------------------------ */

.name {}
.top-nav li {display: inline;}
ul.top-nav {text-align: center; list-style: none; margin: 0 auto; padding: 0 0 4px 0;  /*border-bottom: 2px solid #0091FF;*/}