body {background: #f4f4f4; font-family: Laro, Georgia, Baskerville, serif; color: #333;}

/* header */
header {font-family: Source Sans Pro, Franklin Gothic Book, Arial, sans-serif;
  letter-spacing: .15em; text-transform: uppercase; font-weight: bold;
  font-size: 11px; text-align: center;}
.links {display: inline-block; height: 120px; line-height: 80px;
  position: relative; top: -30px; vertical-align: middle;}
.links.left {margin-right: -20px;}
/*.links.right {margin-left: 20px;}*/
.links a {padding: 8px 8px;}
header a {text-decoration: none; color: #333;}

.main-container {max-width: 900px; margin: 0 auto; padding: 50px 0;}
#content {background: #fff; padding: 30px;}
.meta {font-family: Source Sans Pro, Franklin Gothic Book, Arial, sans-serif;}
