<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="jlord">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jlord</title>
    <link rel="shortcut icon" href="../assets/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400italic,700italic|Source+Sans+Pro:400,900|Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href='../assets/style.css' rel='stylesheet'>
  </head>
  <body class="archives-template">
    <div class="main-container">
      {{> header}}

      <div id="content">
        <div class="post-header">
          <h1>Post Archive</h1>
          <span class="meta">Oldest ⟼ Newest<span>
        </div>
        <ul>
        {{#rows}}
          <li><a href="/blog/{{url}}">{{title}}</a> <span class="meta">{{date}} // {{tags}}</spa</li>
        {{/rows}}
        </ul>
      </div>

      {{> footer}}
    </div>
  </body>
</html>
