<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="jlord">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jlord</title>
    <link rel="shortcut icon" href="../assets/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400italic,700italic|Open+Sans:400,700|Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href='../assets/style.css' rel='stylesheet'>
    <link href='../assets/highlight.css' rel='stylesheet'>
    <script src="../assets/js/highlight.js"></script>
  </head>
  <body class="feed-template">
    <div class="main-container">
      {{> header}}

      <div id="content">
        {{#posts}}
          {{{content.content}}}
        {{/posts}}
          {{> pagination}}
      </div>

      {{> footer}}
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
