<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="jlord">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jlord</title>
    <link rel="shortcut icon" href="assets/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900|Source+Code+Pro:500|Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='assets/style.css' rel='stylesheet'>
  </head>
  <body class="home-template">
    <div class="sideways meta">Jessica Lord, open web developer—designer</div>
    <div class="main-container">
      {{> header}}

      <div id="content">
      <div class="whole latest-post" style="border: none;">
        <h2 class="home-h-link"><a href="blog/{{{url}}}">Post</a></h2>

        <h3>{{title}} <span class="meta">{{date}}</span></h3>
        <div class="latest-post-content">
          {{{fixed}}}
        </div>
        <div class="meta"><a href="blog/{{{url}}}">Read More</a> // <a href="blog">All Posts</a></div>
      </div>
      <div class="whole guides">
        <ul class="guides-list">
          <h2 class="home-h-link"><a href="/posts">Guides</a></h2>
          <li><a class="button meta" href="">Node.js & npm basics</a></li>
          <li><a class="button meta" href="">Node.js & npm basics</a></li>
        </ul>
      </div>
      <div class="whole">
        <h2 class="home-h-link"><a href="http://www.instagram.com/jlord" target="_blank">Instagram</a></h2>
          <div id="instagram"><span class="load flash animated">LOADING...</span></div>
          <!-- <div style="display: block;"></div> -->
          <span class="meta"><a href="instagram.html">More</a></span>
      </div>

      <div class="whole">
        <h2 class="home-h-link"><a href="http://www.twitter.com/jlord" target="_blank">Twitter</a></h2>
        <div id="tweet"><span class="load flash animated">LOADING...</span></div>
      </div>

      <div class="whole">
        <div class="r half">
          <h2 class="home-h-link"><a href="http://jlord-reads.tumblr.com" target="_blank">Instapaper</a></h2>
          <div id="pocket"><span class="load flash animated">LOADING...</span></div>
        </div>

        <div class="half">
          <h2 class="home-h-link"><a href="http://jlord-reads.tumblr.com" target="_blank">Highlight</a></h2>
          <div id="quote"><span class="load flash animated">LOADING...</span></div>
        </div>
      </div>

      <script type="text/javascript" src="assets/js/sheetsee.js"></script>
      <script type="text/javascript" src="assets/js/handlebars.js"></script>
      <script type="text/javascript" src="assets/js/tabletop1.3.4.js"></script>
      <script type="text/javascript" src="assets/js/templates.js"></script>
      <script type="text/javascript" src="assets/js/socialbits.js"></script>

      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var URL  = '0Ao5u1U6KYND7dG9CRWdjeVB6dGYyN3c3RktocExUV1E' // insta
          var URL2 = '0Ao5u1U6KYND7dDd2RTBwajZrT3pEc2p2LVVWc0o0WVE' // tweet
          var URL3 = '0Ao5u1U6KYND7dFR4aDRFb1RsZmlHRXc3ZnFHa3ltTXc' // quotes
          var URL4 = '0Ao5u1U6KYND7dERheVpFZThEUkdPZnFXXzMxTzJ3dEE' // pocket
          var URL5 = '1bR3IIL7WS5BVNXXmQCvtCmd3-ZB0G17Z32NFE2utDW8' // instapaper

          Tabletop.init({ key: URL,  callback: buildInsta,  simpleSheet: true })
          Tabletop.init({ key: URL2, callback: buildTweet,  simpleSheet: true })
          Tabletop.init({ key: URL3, callback: buildQuote,  simpleSheet: true })
          Tabletop.init({ key: URL5, callback: buildPocket, simpleSheet: true })
        })
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-31423721-2', 'jlord.github.io');
        ga('send', 'pageview');
      </script>

      </div>


    </div>
    {{> footer}}
  </body>
</html>
