<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="jlord">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jlord</title>
    <link rel="shortcut icon" href="assets/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:900,400italic,700italic|Open+Sans:400,700|Source+Code+Pro:500' rel='stylesheet' type='text/css'>
    <link href='assets/style.css' rel='stylesheet'>
  </head>
  <body class="home-template">
    <div class="main-container">
      {{> header}}

      <div class="home-header">
        <h1>Hello!</h1>
        <span class="meta">Recent Internet Things</span>
      </div>

      <div id="content">
      <div class="whole latest-post" style="border: none;">
        <h2 class="home-h-link"><a href="blog/{{{url}}}">Post</a></h2>

        <h4>{{title}} <span class="meta">{{date}}</span></h4>
        <div class="latest-post-content">
          {{{fixed}}}
        </div>
        <span class="meta"><a href="blog/{{{url}}}">Read More</a> // <a href="blog">All Posts</a></span>
      </div>
      <div class="whole">
        <h2 class="home-h-link"><a href="http://www.instagram.com/jlord" target="_blank">Instagram</a></h2>
          <div id="instagram"><span class="load flash animated">LOADING...</span></div>
          <div style="display: block;"></div>
          <span class="meta"><a href="instagram.html">More</a></span>
      </div>

      <div class="whole">
        <h2 class="home-h-link"><a href="http://www.twitter.com/jlord" target="_blank">Twitter</a></h2>
        <div id="tweet"><span class="load flash animated">LOADING...</span></div>
      </div>

      <div class="whole">
        <div class="r half">
          <h2 class="home-h-link"><a href="http://jlord-reads.tumblr.com" target="_blank">Instapaper</a></h2>
          <div id="pocket"><span class="load flash animated">LOADING...</span></div>
        </div>

        <div class="half">
          <h2 class="home-h-link"><a href="http://jlord-reads.tumblr.com" target="_blank">Highlight</a></h2>
          <div id="quote"><span class="load flash animated">LOADING...</span></div>
        </div>
      </div>

      <script type="text/javascript" src="assets/js/sheetsee.js"></script>
      <script type="text/javascript" src="assets/js/handlebars.js"></script>
      <script type="text/javascript" src="assets/js/tabletop1.3.4.js"></script>
      <script type="text/javascript" src="assets/js/templates.js"></script>

      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var URL  = '0Ao5u1U6KYND7dG9CRWdjeVB6dGYyN3c3RktocExUV1E' // insta
          var URL2 = '0Ao5u1U6KYND7dDd2RTBwajZrT3pEc2p2LVVWc0o0WVE' // tweet
          var URL3 = '0Ao5u1U6KYND7dFR4aDRFb1RsZmlHRXc3ZnFHa3ltTXc' // quotes
          var URL4 = '0Ao5u1U6KYND7dERheVpFZThEUkdPZnFXXzMxTzJ3dEE' // pocket
          var URL5 = '1bR3IIL7WS5BVNXXmQCvtCmd3-ZB0G17Z32NFE2utDW8' // instapaper

          Tabletop.init({ key: URL,  callback: buildInsta,  simpleSheet: true })
          Tabletop.init({ key: URL2, callback: buildTweet,  simpleSheet: true })
          Tabletop.init({ key: URL3, callback: buildQuote,  simpleSheet: true })
          Tabletop.init({ key: URL5, callback: buildPocket, simpleSheet: true })
        })

        function buildInsta(data) {
          var compiledTemplate = Handlebars.templates['instagram']
          var html = compiledTemplate({"rows": getLast(data,3)}, {});
          document.getElementById('instagram').innerHTML = html
        }

        function buildTweet(data) {
          var lastTweet = data[data.length - 1]
          var date = lastTweet.date
          var parsedTweet = {
            'tweet': findLinks(lastTweet),
            'date': date }
          var template = Handlebars.templates['twitter']
          var html = template({"rows": parsedTweet}, {});
          document.getElementById('tweet').innerHTML = html
        }

        function buildQuote(data) {
          var template = Handlebars.templates['quote']
          var html = template({"rows": data.reverse()[0]}, {});
          document.getElementById('quote').innerHTML = html
        }

        function buildPocket(data) {
          var template = Handlebars.templates['pocket']
          var html = template({"rows": getLast(data,  3)}, {});
          document.getElementById('pocket').innerHTML = html
        }

        function getLast(array, howMany) {
          start = array.length
          cut = start - howMany
          array = array.splice(cut)
          return array.reverse()
        }

        // parse tweets
        // move to sep. file

        function findLinks(tweet) {
          if (!tweet.tweet) return
          var linkPattern = /(^|\s)((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/gi

            if (!tweet.tweet.match(linkPattern)) {
              return tweetMentions(tweet.tweet)
            } else {
              var links = tweet.tweet.match(linkPattern)
              var linkLinks = linkLink(links)
              var newTweet = injectLinks(tweet.tweet, links, linkLinks)
              return tweetMentions(newTweet)
            }
        }

        function tweetMentions(tweet, date) {
          if (!tweet) return
          var mentionPattern = /\B@[a-z0-9_-]+/gi

          if (tweet.match(mentionPattern)) {
            var mentions = tweet.match(mentionPattern)
            var linkMentions = linkMention(mentions)
            var newTweet = injectLinks(tweet, mentions, linkMentions)
            return newTweet
          } else { return tweet }
        }

        function linkMention(mentions) {
          if (!mentions) return
          var linkMentions = []
          mentions.forEach(function(mention){
            var wrap = "<a href='http://www.twittter.com/" + mention + "' target='_blank'>" + mention + "</a>"
            linkMentions.push(wrap)
          })
          return linkMentions
        }

        function linkLink(links) {
          if (!links) return
          var linkLinks = []
          links.forEach(function(link) {
            link = '<a href="' + link + '" target="_blank">' + link + '</a>'
            linkLinks.push(link)
          })
          return linkLinks
        }

        function injectLinks(tweet, mentions, linkMentions) {
          for (var i = 0; i <= mentions.length; i++) {
            tweet = tweet.replace(mentions[i], linkMentions[i])
            if (i === mentions.length) return tweet
          }
        }
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-31423721-2', 'jlord.github.io');
        ga('send', 'pageview');

      </script>

      </div>

      {{> footer}}
    </div>
  </body>
</html>
